// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,400,400i');

@font-face {
    font-family:"Gill Sans Light Italic";
    src:url("assets/fonts/GillSans-LightItalic.woff2") format("woff2"),url("assets/fonts/GillSans-LightItalic.woff") format("woff"),url("assets/fonts/GillSans-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gill Sans Light";
    src:url("assets/fonts/GillSans-Light.woff2") format("woff2"),url("assets/fonts/GillSans-Light.woff") format("woff"),url("assets/fonts/GillSans-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gill Sans Italic";
    src:url("assets/fonts/GillSans-Italic.woff2") format("woff2"),url("assets/fonts/GillSans-Italic.woff") format("woff"),url("assets/fonts/GillSans-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gill Sans";
    src:url("assets/fonts/GillSans.woff2") format("woff2"),url("assets/fonts/GillSans.woff") format("woff"),url("assets/fonts/GillSans.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gill Sans Bold Italic";
    src:url("assets/fonts/GillSans-BoldItalic.woff2") format("woff2"),url("assets/fonts/GillSans-BoldItalic.woff") format("woff"),url("assets/fonts/GillSans-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gill Sans Bold";
    src:url("assets/fonts/GillSans-Bold.woff2") format("woff2"),url("assets/fonts/GillSans-Bold.woff") format("woff"),url("assets/fonts/GillSans-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-family: $heading-font-family;
  color: $primary-color;
  letter-spacing: $spaced;
}

h1 { font-size: 4.0rem; line-height: 1; }
h2 { font-size: 3.6rem; line-height: 1; }
h3 { font-size: 3.0rem; line-height: 1; }
h4 { font-size: 2.4rem; line-height: 1; }
h5 { font-size: 1.8rem; line-height: 1; }
h6 { font-size: 1.5rem; line-height: 1; }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin: 0 0 10px 0; 

  &:last-of-type {
    margin-bottom: 0;
  }
}

b, strong {
  font-family: $bold-font-family;
}

em {
  font-family: $slanty-font-family;
}
