// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-smaller-than-tablet    : "max-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1160px" !default;
$bp-smaller-than-desktop   : "max-width: 1160px" !default;
$bp-larger-than-desktophd : "min-width: 1266px" !default;

// Colors
$light-grey: #e9e9e9 !default;
$dark-grey: #3d3d3d !default;
$dark-blue: #39464e !default;
$alt-blue: #00395a !default;
$primary-color: $dark-blue !default;
$secondary-color: $alt-blue !default;
$border-color: #eee !default;
$link-color: $primary-color !default;
$font-color: $dark-grey !default;

$purple: #b55d80 !default;
$teal: #86b6be !default;
$olive: #3c6d81 !default;
$orange: #f58537 !default;
$brown: #b5895d !default;
$blue: #2bbed8 !default;

// Typography

$base-font: "Gill Sans", Helvetica, Arial, sans-serif !default;
$heading-font: "Gill Sans", Helvetica, Arial, sans-serif !default;
$bold-font: "Gill Sans Bold", Helvetica, Arial, sans-serif !default;
$slanty-font: "Gill Sans Italic", Helvetica, Arial, sans-serif !default;
$serif-font: 'IBM Plex Serif', Georgia, serif !default;

$font-family: $base-font !default;
$heading-font-family: $heading-font !default;
$nav-font-family: $heading-font !default;
$bold-font-family: $heading-font !default;
$slanty-font-family: $slanty-font !default;

//Grid Variables
$container-width: 1200px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
$site-border: 45px !default;
$site-borderx2: 90px !default;
$site-borderx3: 135px !default;
$site-borderx4: 180px !default;

$spaced: 5px !default;


$randomNumber: random(30) + %;