/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#colophon {
	background-color: $dark-grey;
	border-left: $site-border solid $dark-grey;
	border-right: $site-border solid $dark-grey;
	color: white;

	.logo {
		text-align: center;
		padding: $site-border 0;
		margin-bottom: 0;

		svg, img {
			display: inline-block;
			margin: 0 auto;
			width: 175px;
		}
	}

	.info {
		text-align: center;
		padding: $site-borderx2 0 $site-border 0;
		margin-bottom: $site-border;
		border-bottom: 1px solid white;

		h3 {
			font-size: 1.6rem;
			text-transform: uppercase;
			margin-bottom: 10px;
			color: white;
			font-family: $base-font;

			p {
				
			}
		}
	}

	.fnav {
		text-align: center;
		padding: 0;
		margin-bottom: $site-border;

		ul {
			margin: 0;
			
			li {
				display: inline-block;
				margin: 0 6px 0 0;

				a {
					color: white;
					text-decoration: none;
					font-weight: 100;
				}
			}
		}
	}

	.cedits {
		text-align: center;
		padding: 0;
		margin-bottom: $site-border;

		ul {
			margin: 0;
			width: 100%;
			
			li {
				display: inline-block;
				margin: 0 6px 0 0;

				img {
					display: block;
				}
			}
		}
	}

	.copy {
		margin-bottom: $site-border;
		text-align: center;

		@media (#{$bp-larger-than-tablet}) {
			text-align: left;
		}

		img, svg {
			display: inline-block;
			width: 150px;
			margin-bottom: 10px;

			@media (#{$bp-larger-than-tablet}) {
				float: left;
				margin-bottom: 0;
			}
		}

		p {
			
			@media (#{$bp-larger-than-tablet}) {
				float: right;
				line-height: 39px;
			}
		}
	}

	.copyright {
		margin-bottom: 20px;

		@media (#{$bp-larger-than-tablet}) {
			margin-bottom: 0;
		}
	}

	.social {
		margin-bottom: 20px;

		@media (#{$bp-larger-than-tablet}) {
			margin-bottom: 0;
		}

		ul {
			margin: 10px 0 0 0;

			li {
				display: inline-block;
				width: 48px;
				text-align: center;
				background: $teal;
				border-radius: 50%;

				a {
					padding: 11px 0;
					display: block;
				}
			}
		}

		img, svg {
			display: block;
			height: 26px;
			margin: 0 auto;

			path, g {
				fill: $dark-grey;
			}
		}
	}

}