/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#colophon {
	background-color: $dark-grey;
	border-left: $site-border solid $dark-grey;
	border-right: $site-border solid $dark-grey;
	color: white;

	.logo {
		text-align: center;
		padding: $site-border 0;
		margin-bottom: 0;

		svg, img {
			display: inline-block;
			margin: 0 auto;
			width: 175px;
		}
	}

	.info {
		text-align: center;

		h3 {
			font-size: 1.6rem;
			text-transform: uppercase;
			margin-bottom: 10px;
			color: white;
			font-family: $base-font;

			p {
				
			}
		}
	}

}