/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);

	-webkit-transition: -webkit-transform .5s ease-out;
	-ms-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;

	&.pace-active {
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.pace-progress {
		display: block;
		position: fixed;
		z-index: 99999;
		top: 0;
		right: 100%;
		width: 100%;
		height: 10px;
		background: $orange;
		pointer-events: none;
	}
}

.box-top {
	width: 100%;
	height: $site-border;
	position: fixed;
	z-index: 2;
	box-sizing: border-box;
	left: 0;
	top: 0;
	background-color: $light-grey;
}

#masthead {	
	position: absolute;
	top: $site-border;
	width: 100%;
	width: calc(100% - 90px);
	left: $site-border;
	z-index: 1;

	.row {

		.site-branding {
			float: left;
			width: 235px;
		}
	}
}

.parallax-slider {

	.wp-video {
		max-width: 100%;
		height: auto;
		position: absolute;
		width: 100% !important;
		height: 100%;
	}
	.mejs-video {
		height: 100% !important;
		width: 100% !important;

		.wp-video-shortcode {
			height: 100% !important;
			width: 100% !important;
		}
	}
}

#banner {
	margin-top: $site-border;
    height: 80vh;
    background: transparent;
	position: relative;

	@media (#{$bp-larger-than-tablet}) {
		height: 50vh;
	}

	&.has-video {
		height: auto;
	}

	.video {
		display: none;

		@media (#{$bp-larger-than-tablet}) {
			display: block;
		}
	}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
		width: 100% !important;
		// height: 100% !important;
	}
	.mejs-container {
		padding-top: 56.25%;
	}
	.wp-video, video.wp-video-shortcode {
		max-width: 100% !important;
	}
	video.wp-video-shortcode {
		position: relative;
	}
	.mejs-mediaelement {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.mejs-controls {
		display: none;
	}
	.mejs-overlay-play {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto !important;
		height: auto !important;
	}

	.squash {
		width: 100%;

		@media (#{$bp-larger-than-desktop}) {
			width: 60%;
		}
	}

	.home-links {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: white;

		a {
			color: inherit;
		}

		.open-times {
			float: left;
			padding: 20px 0;
			width: 100%;

			@media (#{$bp-larger-than-tablet}) {
				width: 64%;
			}

			.heading {
				float: left;
				margin-right: 10px;

				svg, img {
					display: block;
					width: 2.4rem;

					g {
						fill: $teal;
					}
				}
			}

			p {
				float: left;

				span {
					letter-spacing: $spaced;
					font-size: 20px;
				}
			}
		}

		.tickets {
			float: right;
			display: none;

			@media (#{$bp-larger-than-tablet}) {
				display: block;
			}
			a {
				background: $teal;
				text-decoration: none;
				text-transform: uppercase;
				padding: 0 $site-border;
				line-height: 99px;
				font-size: 1.1rem;
				letter-spacing: $spaced;
				display: block;

				@media (#{$bp-larger-than-desktop}) {
					font-size: 1.8rem;
				}

				@media (#{$bp-larger-than-desktophd}) {
					font-size: 2rem;
				}
			}
		}
	}

	.blurb {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: white;
		background: rgba(0,0,0,0.4);

		@media (#{$bp-larger-than-tablet}) {
			background: transparent;
		}

		h1, h2, h3, h4 {
			color: white;
			margin-bottom: 0;
			font-family: $base-font;
		}

		br {
			display: none;

			@media (#{$bp-larger-than-tablet}) {
				display: block;
			}
		}

		h1, h2 {
			margin-bottom: 1.8rem;
			text-transform: uppercase;
			font-size: 2.6rem;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 4rem;
			}

			@media (#{$bp-larger-than-desktop}) {
				margin-bottom: 2.5rem;
				font-size: 5.0rem;
			}
		}

		h3 {
			font-size: 1.3rem;
			margin-bottom: 10px;
			text-transform: uppercase;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 1.6rem;
			}

			a {
				background-color: none;
				margin: 0;
				padding: 0;
				background: none;
				border: 0;

				&:hover {
					background-color: none;
				}
			}
		}

		p {
			font-family: $serif-font;
			font-weight: 300;
			font-style: italic;
			letter-spacing: 1px;
		}

		a {
			margin-top: 1.8rem;
			padding: 10px;
			text-decoration: none;
			border: 1px solid white;
			text-transform: uppercase;
			color: white;
			display: inline-block;
			letter-spacing: $spaced;

			@media (#{$bp-larger-than-tablet}) {
				padding: 10px 40px;
			}

			@media (#{$bp-larger-than-desktop}) {
				margin-top: 2.5rem;
			}

			-webkit-transition: all .25s linear;
			   -moz-transition: all .25s linear;
			    -ms-transition: all .25s linear;
			     -o-transition: all .25s linear;
			        transition: all .25s linear;

			&:hover {
				color: white;
				background-color: $primary-color;
				border-color: $primary-color;
			}
		}
	}
}

