/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.page-template-template-collection {

	.the-collection {
		margin-bottom: $site-border;
		margin-top: 225px;

		.container {
		width: 100%;

			@media (#{$bp-larger-than-tablet}) {
				width: 85%;
			}
		}
		
		@media (#{$bp-larger-than-tablet}) {
			margin-top: 0;
		}

		.row {
			direction: ltr;

			&:nth-child(even) {
				direction: rtl;

				* {
					direction: ltr;
				}
			}

			&:last-of-type {

				.element {
					margin-bottom: 0;
				}
			}
		}

		.element {
			margin: 0;
			vertical-align: middle;
			display: inline-block;
			float: none;
			clear: none;
			margin-bottom: 170px;
			
			@media (#{$bp-larger-than-tablet}) {
				margin-bottom: 0;
			}
		}

		.six {
			width: 49.7752%;
		}

		.text {
			background: white;
			padding: 45px;
			box-sizing: border-box;
			height: calc(100% - 90px);
			width: 100%;
			position: relative;
			z-index: 1;

			@media (#{$bp-larger-than-tablet}) {
				padding: 140px;
				width: 49.7752%;
				z-index: 1;
			}

			h1, h3, h3 {
				text-transform: uppercase;
			}
		}

		.image {
			z-index: 1;
			position: absolute;
			margin: -170px 0 0 0;
			width: 80%;

			@media (#{$bp-larger-than-tablet}) {
				position: relative;
				margin: 0;
				width: 49.7752%;
			}

			img {
				width: 100%;
			}
		}

		.row {

			&:nth-child(odd) {

				.image {
					position: absolute;

					@media (#{$bp-larger-than-tablet}) {
						position: relative;
					}

					img {
						width: calc(100% + 45px);
							margin-left: -45px;

						@media (#{$bp-larger-than-tablet}) {
							margin-left: 45px;
						}
					}
				}

				.text {
					// padding-left: $site-borderx2;
				}
			}

			&:nth-child(even) {

				.image {
					position: absolute;

					@media (#{$bp-larger-than-tablet}) {
						position: relative;
					}

					img {
						width: calc(100% + 45px);

						@media (#{$bp-larger-than-tablet}) {
							margin-left: -90px;
						}
					}
				}
			}
		}

	}
}